{% extends 'base.html' %}


{% block content %}

<style>
.jumbotron {
  background-image: url("https://www.visitsingapore.com/jcr:content/par-carousel/carousel_with_video/carousel/item_1.thumbnail.carousel-img.2800.1000.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;}

</style>

<div class="jumbotron">
  <h1 class="display-5">SG Travel Planner</h1>
  <p class="lead">This part is the introduction to the features that the travel planner can do and description to make it more marketable. we need some creativity on the content</p>
  <hr class="my-4">
  <p>Make the best out of your trip in Singapore!</p>
  <a class="btn btn-primary btn-lg" href="new" role="button">Start Now!</a>
</div>


{% endblock %}