{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
#map {
  height: 500px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

*{margin:0;padding:0;}
#main{
    width:100%;
    overflow:hidden;
}
#main .main-left{
    width:15%;
    float:left;
}
#main .main-center{
    width:25%;
    float:left;
}
#main .main-right{
    width:60%;
    float:right;
    background:lightgreen;
}
</style>

<h1 class="text-center">YOUR ITINERARY</h1>
  <div class="container" id="main">

      <div class="main-left">
          <ul style="list-style-type:none;">
              {%for dayplan in dayPlans %}
            <li>
                <button class="button" onclick="initialize({{ forloop.counter }}) ">DAY {{ forloop.counter }}</button>
            </li>
              {% endfor %}
          </ul>
      </div>

      <div class="main-center" id="daydetail">
          <ul></ul>
      </div>

      <div  class="main-right">
        <div id="map"></div>
      </div>
  </div>

<script>
    var labels_list = {{map_label|safe}};
    var labelIndex = 0;
    var k;

function initialize(k) {
    if("undefined" == typeof k){k=1; }
    k = k-1;
    clear_att();

    var labels = labels_list[k];
    var attrLatList = {{attrLatList}};
    var attrLngList = {{attrLngList}};
    var centerGeometry_list = {{centerGeometry}} ;
    var centerGeometry = {lat: centerGeometry_list[k][0],lng: centerGeometry_list[k][1]};
    var travelPlanCoordinates = [];
    for(q=0; q<attrLatList[k].length; q++){
        travelPlanCoordinates[q] = {lat: attrLatList[k][q],lng: attrLngList[k][q]};
    }
    var travelPath = new google.maps.Polyline({
        path: travelPlanCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
    });

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: centerGeometry
    });

    travelPath.setMap(map);

    var timeofDay = {{timeofDays|safe}};
    var direct = {{direct|safe}};
    var attrList = {{attrList|safe}};
        for (i = 0; i < travelPlanCoordinates.length; i++) {
            addMarker(attrList[k][i], travelPlanCoordinates[i], map, direct[k][i], timeofDay[k][i],labels);
          }
    labelIndex = 0;
    promotionList = {{ promotionList|safe }}
    moneyList = {{ moneyList|safe }}

    for(var i=0; i< attrLatList[k].length ; i++){
	    var p = i+1;
        if(timeofDay[k][0]==0 && p==attrLatList[k].length-1){
            break;
        }
        if(timeofDay[k][0]==0 && p==1 ){
            console.log(p);
            var ul = document.createElement("ul");
            ul.innerHTML = '<li class="d-flex justify-content-between align-items-center"><h5>HOTEL: </h5></li><li class="d-flex justify-content-between align-items-center"><h5>' +attrList[k][p-1] + '</h5></li>';
            daydetail.appendChild(ul);
        }
        var ul = document.createElement("ul");
        var q=p;
        if(timeofDay[k][0]!=0){q=p-1}
        if(promotionList[k][q]!=''){
            ul.innerHTML = '<li class="d-flex justify-content-between align-items-center"><strong>' +p+' '+attrList[k][q] +
                   '</strong></li><li class="d-flex justify-content-between align-items-center"><p>Arrival Time:'+timeofDay[k][q]+
                   '</strong></li><li class="d-flex justify-content-between align-items-center"><a href = '+promotionList[k][q]+
                   '>&#128176;Click here to save $'+moneyList[k][q]+'  &#128176;</a></p></li><li class="d-flex justify-content-between align-items-center"><a href = '+direct[k][q]+'>&#128652;Direct to Google Maps &#128652;<a></li>';
            daydetail.appendChild(ul);
        }
        else{
            ul.innerHTML = '<li class="d-flex justify-content-between align-items-center"><strong>' +p+' '+attrList[k][q] +
                   '</strong></li><li class="d-flex justify-content-between align-items-center"><p>Arrival Time:'+timeofDay[k][q]+
                   '</p></li><li class="d-flex justify-content-between align-items-center"><a href = '+direct[k][q]+'>&#128652;Direct to Google Maps &#128652;<a></li>';
            daydetail.appendChild(ul);
        }
    }


}


// Adds a marker to the map.
function addMarker(attr, location, map, direct, time,labels) {
  var marker = new google.maps.Marker({
    position: location,
    label: labels[labelIndex++ % labels.length],
    map: map,
    title: attr
  });
  //document.getElementById('s1').value = location
  //Time suppose to be
  // direction
  var contentString =
    '<div id="content">' +
    '<div id="siteNotice">' +
    '</div>' +
    '<h1 id="firstHeading" class="firstHeading"></h1>' +
    '<p><b>' + attr + '</b>' +
    '<div id="bodyContent">' +
    '<a href = '+direct+'> Direct to Google Maps</a>'+
    '<p><b></b>'
  '</div>' +
  '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}

function clear_att(){
    day_detail = document.getElementById("daydetail");
    while(day_detail.firstChild){
        day_detail.removeChild(day_detail.firstChild);
    }
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ4Q24NuUFkO3sQBdtcwNxSnO3qwZqwW8&callback=initialize"
    async defer></script>

{% endblock %}
